@{
    ViewBag.Title = "Home Page";
}

<main>
    

    <div class="row" style="height: 5vh">
        
    </div>
    <div class="row" style="height: 35vh"></div>
    <div class="row" >
        <section class="col-md-4" style="width:25vw">

        </section>
        <section class="col-md-4" style="width:25vw">

        </section>
        <section class="col-md-4" style="width:25vw">

        </section>
        <section class="col-md-4" style="width:25vw">
            <a style="height: 5vw; width: 10vw; display: inline-block; text-align: right; float: right;" href="@Url.Action("Create", "Bookings")"><img src="~/Content/Images/bookingNow.png" /></a>
        </section>

            
        
        
    </div>

</main>
<style>
    body {
        background-image: url('Content/Images/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
</style>